* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    border: 1px solid red;
}

.header {
    height: 100px;
    display: flex;
    background-color: aquamarine;
    justify-content: end;
    align-items: center;
}

#btn_gridSize {
    margin-right: 60px;
    height: 40px;
}